.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.book-grid,
.carousel-slide {
  overflow: visible;
}

.book-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
}

h2 {
  text-align: center;
}