.shopping-cart-page {
  padding: 2rem;
  position: relative;
}

.cart-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cart-checkout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.cart-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 2;
}

.order-summary-card {
  position: fixed;
  top: 200px;
  right: 50px;
  background-color: darkslategray;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1.5rem;
  color: white;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.check-out-button{
  background-color: #2e7d32;
  color: white;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}

